/* home.module.css */
:root {
    --primary-color: #2980b9;
    --secondary-color: #e74c3c;
    --text-color: #d2dce6;
    --bg-light: #ecf0f1;
    --bg-dark: #34495e;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-color);
    line-height: 1.6;
}

/* Hero Section */
.hero {
    background-color: var(--primary-color);
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.heroTitle {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.ctaBtn {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px 40px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background var(--transition-speed);
    text-decoration: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.ctaTitle{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;

}

.ctaBtn:hover {
    background-color: #c0392b;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}

/* Features Section */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px 20px;
}

.feature {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    text-align: center;
}

.feature h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.feature p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.8;
}

.feature a {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    transition: color var(--transition-speed);
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.feature a:hover {
    color: #c0392b;
}

/* Call to Action Section */
.cta {
    background-color: var(--bg-dark);
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.cta a {
    background-color: var(--secondary-color);
    padding: 15px 40px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background var(--transition-speed);
    text-decoration: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.cta a:hover {
    background-color: #c0392b;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .cta h2 {
        font-size: 2rem;
    }

    .cta p {
        font-size: 1rem;
    }
}